* {
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
    /* background-image: url(/assets/pexels-karolina-grabowska-4226881.jpg); */
  }

.hero{
  position: relative;
 
}
.nav{
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height:  8vh; 
  border: 0px;
}
.home{
  padding: 15px; 
   
} 
.about{
  padding: 15px;
  
}
.contact{
  padding: 15px;
}

.info{
  display: flex;
  flex-direction: row;
}

.logo{
  color: white;
  font-size: larger;
}
span{
  color: rgba(197, 12, 114, 0.605);
  font-size: xx-large;
  font-weight: bolder;
  padding: 4px;
  font-style: italic;
}

.double-underline {
  border-bottom: 1px solid;
  text-decoration: underline;
  }

.main{
  /* border: 0px; */
  height: 100vh;
  background-size: cover;
  background-image: url(/assets/pexels-karolina-grabowska-4226881.jpg);
}

.display{
    text-align: center; 
    height: 150px;
    justify-items: center;
    border: 50px;
    padding: 50px;
    /* margin: 50px; */
    

}
marquee{
  color: rgba(197, 12, 114, 0.605);
  font-size: xx-large;
  font-weight: bolder;
  padding: 4px;
  font-style: italic;
}
.intro{
  align-content: center;
  background-color: white;
  color: black;
  font-size: 70px;
  font-weight: bolder;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif; 
} 
